.btn-playButton {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-playButton:hover,
.btn-playButton:focus,
.btn-playButton:active,
.btn-playButton.active,
.open .dropdown-toggle.btn-playButton {
  color: #ffffff;
  background-color: #990000;
  border-color: #cc0000;
}
.btn-playButton:active,
.btn-playButton.active,
.open .dropdown-toggle.btn-playButton {
  background-image: none;
}
.btn-playButton.disabled,
.btn-playButton[disabled],
fieldset[disabled] .btn-playButton,
.btn-playButton.disabled:hover,
.btn-playButton[disabled]:hover,
fieldset[disabled] .btn-playButton:hover,
.btn-playButton.disabled:focus,
.btn-playButton[disabled]:focus,
fieldset[disabled] .btn-playButton:focus,
.btn-playButton.disabled:active,
.btn-playButton[disabled]:active,
fieldset[disabled] .btn-playButton:active,
.btn-playButton.disabled.active,
.btn-playButton[disabled].active,
fieldset[disabled] .btn-playButton.active {
  background-color: #ff0000;
  border-color: #cc0000;
}

.jumbotron{
	background: #e1e1ff;
}

.badge {
  margin-right:10px;
  font-size: 21px;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 12px;
}
.badge:hover {
  color: #ffffff;
  background-color: #000000;
}
.badge-info {
    color: #000000;
    background-color: #ffffff;
}
.badge-info:hover {
	color: #ffffff;
  	background-color: #000000;
}


.temperatureBarContainer { 
	position: relative;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #444444
}
.temperatureBar { 
	position: absolute;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 0px;
	box-shadow: inset 0 -4px 25px rgba(0,0,0,0.5);
}

.section1 {
 	position: inherit;
	left: 0px;
  	height: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
  	background: linear-gradient(to right, #0040ff , #00ffff);
}

.section2 {
  	position: inherit;
  	left:81px;
  	height: 100%;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
  	background: linear-gradient(to right, #00ffff , #00ff40);
}

.section3 {
  	position: inherit;
  	left:162px;
  	height: 100%;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
  	background: linear-gradient(to right, #00ff40 , #80ff00);
}

.section4 {
  	position: inherit;
  	left:243px;
  	height: 100%;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
  	background: linear-gradient(to right, #80ff00 , #ffbf00);
}

.section5 {
  	position: inherit;
  	left:324px;
  	height: 100%;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	background: linear-gradient(to right, #ffbf00 , #ff0000);
}