.btn-playButton {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-playButton:hover,
.btn-playButton:focus,
.btn-playButton:active,
.btn-playButton.active,
.open .dropdown-toggle.btn-playButton {
  color: #ffffff;
  background-color: #990000;
  border-color: #cc0000;
}
.btn-playButton:active,
.btn-playButton.active,
.open .dropdown-toggle.btn-playButton {
  background-image: none;
}
.btn-playButton.disabled,
.btn-playButton[disabled],
fieldset[disabled] .btn-playButton,
.btn-playButton.disabled:hover,
.btn-playButton[disabled]:hover,
fieldset[disabled] .btn-playButton:hover,
.btn-playButton.disabled:focus,
.btn-playButton[disabled]:focus,
fieldset[disabled] .btn-playButton:focus,
.btn-playButton.disabled:active,
.btn-playButton[disabled]:active,
fieldset[disabled] .btn-playButton:active,
.btn-playButton.disabled.active,
.btn-playButton[disabled].active,
fieldset[disabled] .btn-playButton.active {
  background-color: #ff0000;
  border-color: #cc0000;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: #000000;
  background-color: #ffffff;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  background-color: #000000;
}
.badge-info {
    color: #000000;
    background-color: #ffffff;
}
.badge-info:hover {
	color: #ffffff;
  	background-color: #000000;
}



